<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>


<p>
  <strong>Appointment with:</strong></br>
  <% @specialist.patients.each do |patient| %>
      <%= patient.name %><br/>
  <% end %>
</p>
<p>
  <strong>Appointment date:</strong></br>
  <% @specialist.appointments.each do |appointment| %>
      <%= appointment.appointment_date%><br/>
  <% end %>
</p>

<p>
  <strong>Appointment days left:</strong></br>
  <% @specialist.appointments.each do |appointment| %>
      <% days_left= appointment.appointment_date - Date.today%>
      <%= (days_left).to_i%><br/>
  <% end %>

</p>
<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
