<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance_id %>
</p>

<p>
  <strong>Appointment with:</strong></br>
  <% @patient.specialists.each do |specialist| %>
      <%= specialist.name %><br/>
  <% end %>
</p>
<p>
  <strong>Appointment date:</strong></br>
  <% @patient.appointments.each do |appointment| %>
      <%=appointment.appointment_date%><br/>
  <% end %>
</p>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
